<div class="categories-container">
    <ul class="categories-header">
        <li>PRODUCTS</li>
        <li>LIVING ROOM</li>
    </ul>
    <div class="categories-content">
        <div class="categories-content-row">
            <ul class="categories-content-row-items">
                <li></li>
                <li>RED SEAT</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>$45</li>
            </ul>
            <div class="categories-content-row-wrapper">    
                <div class="categories-content-row-wrapper-pic"></div>
                <ul class="categories-content-row-items">
                    <li>WHITE TALBE</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>$350</li>
                </ul>
            </div>
        </div>
        <div class="categories-content-row-2">
            <ul class="categories-content-row-2-items">
                <li></li>
                <li>BLUE SEAT</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>$35</li>
            </ul>
            <div class="categories-content-row-2-wrapper">
                <div class="categories-content-row-2-wrapper-pic"></div>
                <ul class="categories-content-row-2-items">
                    <li>MODERN BED</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>$120</li>
                </ul>
            </div>
            <ul class="categories-content-row-2-items">
                <li></li>
                <li>DARK SEAT</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>$50</li>
            </ul>
        </div>
    </div>
    <a href="">SHOW MORE PRODUCTS</a>
</div>