h1 {
    font-family: "LatoThin";
    font-size: 220px;
    margin-bottom: 0;
    z-index: 5;
    position: relative;
};

h2 {
    font-family: "LatoLight";
    font-size: 36px;
};

h3 {
    font-family: "LatoBlack";
    font-size: 400px;
    opacity: 2%;
}

.unselectable {
    user-select: none;  
    cursor: default;
}

.header {

        display: flex;
        flex-direction: column;
        text-align: center;
    
        //.header__bg-text
        &__bg-text {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        overflow: hidden;
        }

    // .header__view-button

    &__view-button {
    font-family: "LatoBlack";
    font-size: 18px;
    background-color: #0023ff;
    color: white;
    padding: 14px 54px;
    border-radius: 30px 30px;
    }

    //.header__view-button-wrap

    &__view-button-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 5;
    }
        // .header__burger

        &__burger {
            display: block;
            position: relative;
            width: 13px;
            height: 12px;
        }
            .burger__wrap {
                position: absolute;
                background-color: white;
                padding: 20px;
                display: block;
                position: absolute;
                top: 30px;
                right: 30px;
                border-radius: 50%;
            }

        &__burger span {
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 5px;
        }

        &__burger::before,
        &__burger::after {
            content: "";
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }

        &__burger::before {
            top: 0;
        }

        &__burger::after {
            bottom: 0;
        }
    
        // .header__menu
    
        &__menu {
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }

        
    
        // .header__list
    
        &__list {
            display: flex;
            flex-direction: column;
        }
    
        // .header__link
    
        &__link {
            color: #c1c1c1;
            font-family: "LatoRegular";
            font-size: 18px;
        }
};

