h1 {
    font-family: "LatoThin";
    font-size: 220px;
    margin-bottom: 0;
    z-index: 5;
    position: relative;
};

h2 {
    font-family: "LatoLight";
    font-size: 36px;
};

h3 {
    font-family: "LatoBlack";
    font-size: 400px;
    opacity: 2%;
}

.unselectable {
    user-select: none;  
    cursor: default;
}

.header {

        display: flex;
        flex-direction: column;
        text-align: center;
    
        //.header__bg-text
        &__bg-text {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        overflow: hidden;
        }

    // .header__view-button

    &__view-button {
    font-family: "LatoBlack";
    font-size: 18px;
    background-color: #0023ff;
    color: white;
    padding: 14px 54px;
    border-radius: 30px 30px;
    }

    //.header__view-button-wrap

    &__view-button-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 5;
    }
        // .header__burger

        &__burger {
            display: block;
            position: relative;
            width: 13px;
            height: 12px;
        }
            .burger__wrap {
                position: absolute;
                background-color: white;
                padding: 20px;
                display: block;
                position: absolute;
                top: 30px;
                right: 30px;
                border-radius: 50%;
                border: solid 0.5px #e9e9e9;
            }

        &__burger span {
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 5px;
        }

        &__burger::before,
        &__burger::after {
            content: "";
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }

        &__burger::before {
            top: 0;
        }

        &__burger::after {
            bottom: 0;
        }

        // .header__burger_active

        &__burger_active {
            display: block;
            position: relative;
            width: 13px;
            height: 12px;
        }
            .burger__wrap_active {
                position: absolute;
                background-color: white;
                padding: 20px;
                display: block;
                position: absolute;
                top: 30px;
                right: 30px;
                border-radius: 50%;
                border: solid 0.5px #e9e9e9;
                z-index: 5;
            }

        &__burger_active span {
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 5px;
        }

        &__burger_active::before,
        &__burger_active::after {
            content: "";
            background-color: #0023ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }

        &__burger_active::before {
            top: 0;
        }

        &__burger_active::after {
            bottom: 0;
        }
    
        // .header__menu
    
        &__menu {
            position: fixed;
            top: 0;
            right: 0;
            display: none;
            width: 18%;
            background-color: white;
            height: 100%;
        }

        
    
        // .header__list
    
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 58px;
        }

        // .header__list li
        
            &__list li {
                margin-top: 108px;
            }

            &__list li:nth-child(1)::after {
                content: url(..//img/icon/header/living-room.jpg);
                margin-left: 36px;
                position: relative;
                top: 20px;
            }

            &__list li:nth-child(2)::after {
                content: url(..//img/icon/header/office.jpg);
                margin-left: 36px;
                position: relative;
                top: 20px;
            }

            &__list li:nth-child(3)::after {
                content: url(..//img/icon/header/for-kids.jpg);
                margin-left: 36px;
                position: relative;
                top: 17px;
            }

            &__list li:nth-child(4)::after {
                content: url(..//img/icon/header/kitchen.jpg);
                margin-left: 36px;
                position: relative;
                top: 15px;
            }

            &__list li:nth-child(5)::after {
                content: url(..//img/icon/header/accesories.jpg);
                margin-left: 36px;
                position: relative;
                top: 12px;
            }

        // .header__link
    
        &__link {
            color: #c1c1c1;
            font-family: "LatoRegular";
            font-size: 18px;
        }
};

